
<div class="container">

  <div *ngIf="todos.length >0">
    <div *ngFor='let td of todos;let i=index'>
      
        {{td.description}} : {{td.category}} 
       <div >
       <app-todo-details [todo]='td'></app-todo-details>
       </div>   
        
      
    </div></div>
<div>
  <form>
  Task Name : <input type='text' placeholder="Your Task" [(ngModel)]="todoTask.name"><br>
  Task description :<textarea type='text' rows="5" cols="10" placeholder="Detail of your task " [(ngModel)]="todoTask.description"></textarea><br>

Category :<select   [(ngModel)]="todoTask.category">
  <option *ngFor='let c of categorie' [ngValue]="c.value" >
      {{c.value}}
  </option></select> <br>
  <!--app-category [(ngModel)]="category.category" ></!--app-category-->
</form>
<button  (click)='AddNewTask()'> Add Todo task </button></div>

  <!--mat-list>
    <h3 mat-subheader>Task</h3>
    <mat-list-item *ngFor="let td of todos;let i=index">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{td.category}}</h4>
      <p mat-line> {{td.status}} </p>
    </mat-list-item>
    <mat-divider></mat-divider> 
  </!--mat-list -->
</div>

